{% extends 'base.html' %}

{% block content %}
    {% for mess in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{mess}}</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
    <form method="POST" style="text-align: center;">
        
        {{form.hidden_tag()}}
        {{form.llr_id.label()}}{{form.llr_id()}}<br>
        {{form.e_id.label()}} {{form.e_id()}}<br>
        {{form.test()}}{{form.test.label()}} <br>
        {{form.submit()}}
    </form>
{% endblock %}