{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron" style="text-align: center;">
        <p>Vehicle Number: {{data[0]}}</p>
        <p>Owner Name: {{data[1]}}</p>
        <p>City: {{data[2]}}</p>
        <p>RTO ID: {{data[3]}}</p>
        <p>Date Of Registration: {{data[4]}}</p>
        <p>Phone Number: {{data[5]}}</p>
        <p>Fitness Expiry Date: {{data[6]}}</p>
        <p>License ID: {{data[7]}}</p>
        <p>Father's Name: {{data[8]}}</p>
        <p>LLR ID: {{data[9]}}</p>
        <p>Date Of Birth: {{data[10]}}</p>

    </div>
{% endblock %}